<%= form_for @album do |f| %>
  <% if @album.errors.any? %>
    <ul class="list-unstyled alert alert-danger">
      <% @album.errors.full_messages.each do |message| %>
        <li>Album <%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <!--<div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>-->
  <h2 class="text-xl my-10">Upload Your Video Clips Below:</h2>

  <% if @album.persisted? %>
    <div class="mb-3" data-controller="multiple-upload" data-multiple-upload-types-value="<%= QuestionVideoUploader::ALLOWED_TYPES.to_json %>" data-multiple-upload-server-value="<%= upload_server %>">
      <!-- will be replaced by Uppy -->
      <%= f.label :question_videos, "Select Videos", class: "form-label" %>
      <%= f.file_field :question_videos,
        multiple: true,
        class: "form-control",
        data: { multiple_upload_target: "input" } %>
    </div>
  <% end %>

  <ul class="list-unstyled file-upload-list" id="album-photo-list">
    <%= f.fields_for :question_videos do |pf| %>
      <%= render partial: "question_video", locals: { question_video: pf.object, f: pf } %>
    <% end %>
  </ul>

  <%= f.submit "Save", class: "btn btn-primary bg-blue-700" %>
  <%= link_to albums_path, class: "btn btn-light" do %>
    &larr; Back to albums
  <% end %>
<% end %>
